<div class="subnav sticky !lg:absolute w-full md:top-[64px] top-[62px] z-[100] bg-skin-secondary">
    <div class="flex md:justify-center max-w-[95vw] w-full md:max-w-[1920px] mx-auto h-full carousel gap-2 px-2 py-2">
      {%- for link in section.settings.menu.links -%}
          <div class="carousel-item text-white menuItem relative cursor-pointer px-4 py-2 border border-cookies-subtle rounded-md">
            <a target="_self" class="inline-flex flex-nowrap items-center relative" href="{{ link.url }}">
              <p class="max-w-prose-narrow whitespace-pre-wrap inherit font-serif text-base">{{ link.title | escape }}</p>
            </a>
          </div>
      {%- endfor -%}  
    </div>
</div>

