<div class="subnav sticky !lg:absolute w-full md:top-[64px] top-[62px] z-[100] bg-skin-secondary">
    <div class="flex md:justify-center max-w-[95vw] w-full md:max-w-[1920px] mx-auto h-full carousel gap-2 px-2 py-2">
      <div class="carousel-item text-white menuItem relative cursor-pointer px-4 py-2 border border-cookies-subtle rounded-md">
        <a target="_self" class="inline-flex flex-nowrap items-center relative" href="/collections/delta-8-hhc-2g-blunts">
          <p class="max-w-prose-narrow whitespace-pre-wrap inherit font-serif text-base">Delta 8, HHC &amp;&nbsp;THC-O</p>
        </a>
      </div>
      <div class="carousel-item text-white menuItem relative cursor-pointer px-4 py-2 border border-cookies-subtle rounded-md">
        <a target="_self" class="inline-flex flex-nowrap items-center relative" href="/collections/cbd">
          <p class="max-w-prose-narrow whitespace-pre-wrap inherit font-serif text-base">CBD &amp;&nbsp;Wellness</p>
        </a>
      </div>
      <div class="carousel-item text-white menuItem relative cursor-pointer px-4 py-2 border border-cookies-subtle rounded-md">
        <a target="_self" class="inline-flex flex-nowrap items-center relative" href="/collections/caps">
          <p class="max-w-prose-narrow whitespace-pre-wrap inherit font-serif text-base">Caps</p>
        </a>
      </div>
      <div class="carousel-item text-white menuItem relative cursor-pointer px-4 py-2 border border-cookies-subtle rounded-md">
        <a target="_self" class="inline-flex flex-nowrap items-center relative" href="/collections/accessories">
          <p class="max-w-prose-narrow whitespace-pre-wrap inherit font-serif text-base">Accessories</p>
        </a>
      </div>
    </div>
</div>