<div class="w-full h-[40px] relative text-center font-serif text-xs md:text-sm mx-auto flex items-center justify-center bg-cookies-primary text-black">
  {{ section.settings.announcement_title }}
</div>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "id": "announcement_backgound",
      "type": "color",
      "label": "Background Color",
      "default": "#00A0DC"
    },
    {
      "id": "announcement_title",
      "type": "text",
      "label": "Title",
      "default": "Now get free shipping on orders over $50!"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    }    
  ]
}
{% endschema %}
