<div class="relative">
    <div class="absolute inset-0 -bottom-1 bg-gradient-to-t from-black"></div>
    <a href="{{section.settings.hero_link}}">
      <section class="relative justify-end flex flex-col w-full  h-[40vh] md:h-[60vh]">
        <div class="absolute inset-0 grid flex-grow grid-flow-col pointer-events-none auto-cols-fr -z-10 content-stretch overflow-clip">
          <div class="">
            <video width="1500" class="block object-cover w-full h-full" muted="" loop="" autoplay="" id="gid://shopify/Video/30462813143267" playsinline="" poster="https://cdn.shopify.com/s/files/1/0489/1836/4319/files/preview_images/1c027ccdde9d46af9dec68e3f8938e3c.thumbnail.0000000.jpg?v=1658728999">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.HD-1080p-7.2Mbps.mp4" type="video/mp4">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.m3u8" type="application/x-mpegURL">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.HD-720p-4.5Mbps.mp4" type="video/mp4">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.SD-480p-1.5Mbps.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="mb-4 flex flex-col items-baseline justify-between gap-4 px-6 sm:px-8 md:px-12 dark:text-primary from-primary/60">
          <h1 class="whitespace-pre-wrap max-w-prose-wide font-bold text-4xl [&>span]:text-gray-400 [&>span]:text-lg">{{section.settings.hero_title}}</h1>
          <span class="max-w-prose whitespace-pre-wrap font-serif text-base px-6 py-3 bg-skin-primary text-black rounded-md">{{section.settings.hero_cta_title}}</span>
        </div>
      </section>
    </a>
    <link rel="prefetch" as="fetch" href="/__rsc?state=%7B%22pathname%22%3A%22%2Fcollections%2Fdelta-8-hhc-2g-blunts%22%2C%22search%22%3A%22%22%7D">
  </div>


  {% schema %}
  {
    "name": "Video Hero Section",
    "settings": [
      {
        "type": "url",
        "id": "hero_link",
        "label": "Hero Link",
        "default": "/"
      },
      {
        "type": "video",
        "id": "hero_video",
        "label": "Hero Video"        
      },    
      {
        "type": "text",
        "id": "hero_title",
        "label": "Hero Title",
        "default": "Up to 33% off of all Hemp&nbsp;products"
      },    
      {
        "type": "text",
        "id": "hero_cta_title",
        "label": "Hero Cta Title",
        "default": "Shop Now"
      }    
    ],  
    "presets": [
        {
          "name": "Video Hero Section"
        }
      ]    
  }
  {% endschema %}
  