<div class="relative">
    <div class="absolute inset-0 -bottom-1 bg-gradient-to-t from-black"></div>
    <a href="/collections/delta-8-hhc-2g-blunts">
      <section class="relative justify-end flex flex-col w-full  h-[40vh] md:h-[60vh]">
        <div class="absolute inset-0 grid flex-grow grid-flow-col pointer-events-none auto-cols-fr -z-10 content-stretch overflow-clip">
          <div class="">
            <video width="1500" class="block object-cover w-full h-full" muted="" loop="" autoplay="" id="gid://shopify/Video/30462813143267" playsinline="" poster="https://cdn.shopify.com/s/files/1/0489/1836/4319/files/preview_images/1c027ccdde9d46af9dec68e3f8938e3c.thumbnail.0000000.jpg?v=1658728999">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.HD-1080p-7.2Mbps.mp4" type="video/mp4">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.m3u8" type="application/x-mpegURL">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.HD-720p-4.5Mbps.mp4" type="video/mp4">
              <source src="https://cdn.shopify.com/videos/c/vp/1c027ccdde9d46af9dec68e3f8938e3c/1c027ccdde9d46af9dec68e3f8938e3c.SD-480p-1.5Mbps.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="mb-4 flex flex-col items-baseline justify-between gap-4 px-6 sm:px-8 md:px-12 dark:text-primary from-primary/60">
          <h1 class="whitespace-pre-wrap max-w-prose-wide font-bold text-4xl [&amp;>span]:text-gray-400 [&amp;>span]:text-lg">Up to 33% off of all Hemp&nbsp;products</h1>
          <span class="max-w-prose whitespace-pre-wrap font-serif text-base px-6 py-3 bg-skin-primary text-black rounded-md">Shop Now</span>
        </div>
      </section>
    </a>
    <link rel="prefetch" as="fetch" href="/__rsc?state=%7B%22pathname%22%3A%22%2Fcollections%2Fdelta-8-hhc-2g-blunts%22%2C%22search%22%3A%22%22%7D">
  </div>


  {% schema %}
  {
    "name": "Announcement Bar Conf",
    "settings": [
      {
        "id": "announcement_show",
        "type": "color",
        "label": "Background Color",
        "default": "#00A0DC"
      },
      {
        "id": "announcement_title",
        "type": "text",
        "label": "Title",
        "default": "Now get free shipping on orders over $50!"
      }
    ],
    "presets": [
        {
          "name": "AnnouncementBar"
        }
      ]    
  }
  {% endschema %}
  