<div class="w-full flex justify-center">
  <section class="w-full gap-4 md:gap-6 grid py-6 md:py-8 lg:py-12 border-b border-skin-dark-soft">
    <h2 class="whitespace-pre-wrap max-w-prose font-bold text-4xl [&>span]:text-gray-400 [&>span]:text-lg px-6 md:px-8 lg:px-12">Featured Products</h2>
    <div class="grid grid-cols-2 px-6 sm:grid-cols-3 md:grid-cols-4 2xl:grid-cols-5 gap-4 md:scroll-px-8 lg:scroll-px-12 md:px-8 lg:px-12">
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/hhc-1g-disposable-vape-pens-br-span-grandaddy-pluto-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of HHC 1g Disposable Vape Pen  Grandaddy Pluto" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenGDP_wVape.png?v=1659134661&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenGDP_wVape.png?v=1659134661&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Grandaddy Pluto - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <link rel="prefetch" as="fetch" href="/__rsc?state=%7B%22pathname%22%3A%22%2Fproducts%2Fhhc-1g-disposable-vape-pens-br-span-grandaddy-pluto-span%22%2C%22search%22%3A%22%22%7D">
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705057722595" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">15</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 15
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/disposable-vape-pens-br-span-berry-pie-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Berry Pie | HHC 1g Disposable Vape Pen" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenBerryPie_wVape.png?v=1659134754&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenBerryPie_wVape.png?v=1659134754&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Berry Pie - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <link rel="prefetch" as="fetch" href="/__rsc?state=%7B%22pathname%22%3A%22%2Fproducts%2Fdisposable-vape-pens-br-span-berry-pie-span%22%2C%22search%22%3A%22%22%7D">
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705071223011" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">9</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 9
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/hhc-vape-cartridge-br-span-cheetah-piss-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of HHC 1g Disposable Vape Pen  Cheetah Piss" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenCheetahPiss_wVape.png?v=1659134788&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenCheetahPiss_wVape.png?v=1659134788&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Cheetah Piss - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705052545251" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 4.9 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 98.1571%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 4.9 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">13</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "4.9",
                      "reviewCount": 13
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/hhc-1g-disposable-vape-pen-br-span-georgia-pie-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Georgia Pie | HHC 1g Disposable Vape Pen" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenGeorgiaPie_wVape.png?v=1659134710&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenGeorgiaPie_wVape.png?v=1659134710&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Georgia Pie - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705086591203" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 4.8 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 96.3142%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 4.8 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">5</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "4.8",
                      "reviewCount": 5
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/hhc-1g-disposable-vape-pens-br-span-honey-bun-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Honey Bun | HHC 1g Disposable Vape Pen" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenHoneyBun_wVape.png?v=1659135035&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenHoneyBun_wVape.png?v=1659135035&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Honey Bun - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705080299747" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 4.5 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 90.7854%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 4.5 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">2</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "4.5",
                      "reviewCount": 2
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/copy-of-hhc-1g-disposable-vape-pens-br-span-honey-bun-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Grenadine | HHC 1g Disposable Vape Pen" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenGrenadine_wVape.png?v=1659134883&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenGrenadine_wVape.png?v=1659134883&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Grenadine - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705082134755" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">3</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 3
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/hhc-1g-disposable-vape-pens-br-span-fish-scale-span">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Fish Scale | HHC 1g Disposable Vape Pen" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenFishScale_wVape.png?v=1659135098&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/Cookies1gHHCVapePenFishScale_wVape.png?v=1659135098&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Fish Scale - HHC Disposable Vape</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Vape</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7705067684067" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">1</span>
                      <span class="oke-sr-label-text"> Review</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 1
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$32.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/berry-pie-hhc-2g-infused-hemp-blunt-14-count">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Berry Pie  | HHC 2g Infused Hemp Blunt" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CK_HHCBluntBerryPieShadow_Render.png?v=1659135276&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CK_HHCBluntBerryPieShadow_Render.png?v=1659135276&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Berry Pie - HHC Blunt</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Flower</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7695689515235" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">1</span>
                      <span class="oke-sr-label-text"> Review</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 1
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$24.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/grandaddy-pluto-hhc-2g-infused-hemp-blunt">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Grandaddy Pluto  | HHC 2g Infused Hemp Blunt" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/GAS_HHCBluntGranddayPlutoShadow_Render.png?v=1659135364&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/GAS_HHCBluntGranddayPlutoShadow_Render.png?v=1659135364&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Grandaddy Pluto - HHC Blunt</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Flower</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7695689253091" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">1</span>
                      <span class="oke-sr-label-text"> Review</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 1
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$24.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <span class="uppercase text-skin-primary text-xs inline-flex items-center">sold out</span>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/berry-pie-hhc-3g-hhc-preroll-hemp-smokes-10pk">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Berry Pie | HHC Preroll Hemp Smokes 10-pack" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CookiesHempSmokes10ctHHCBerryPie_wSmoke.png?v=1659136875&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CookiesHempSmokes10ctHHCBerryPie_wSmoke.png?v=1659136875&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Berry Pie - HHC Hemp Smokes</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Flower</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7778564047075" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 4.6 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 92.6283%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 4.6 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">5</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "4.6",
                      "reviewCount": 5
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$22.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/lemonchello-10-hhc-3g-hhc-preroll-hemp-smokes-10pk">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Lemonchello | HHC Preroll Hemp Smokes 10-pack" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CookiesHempSmokes10ctHHCLemonchello_wSmoke.png?v=1659136818&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CookiesHempSmokes10ctHHCLemonchello_wSmoke.png?v=1659136818&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">LemonChello - HHC Hemp Smokes</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Flower</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7778567389411" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">4</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 4
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$22.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
      <div class="relative border border-skin-dark-soft rounded-md basis-52 shrink-0">
        <a href="/products/ooh-la-la-hhc-3g-hhc-preroll-hemp-smokes-10pk">
          <div class="flex flex-col group overflow-hidden relative h-full">
            <img id="" alt="Picture of Ooh La La | HHC  Preroll Hemp Smokes 10-pack" loading="lazy" class="aspect-[4/5] w-full object-cover fadeIn" sizes="320px" src="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CookiesHempSmokes10ctHHCOohLaLa_wSmoke.png?v=1659137196&amp;width=640&amp;height=800&amp;crop=center" width="320" height="400" srcset="https://cdn.shopify.com/s/files/1/0489/1836/4319/products/CookiesHempSmokes10ctHHCOohLaLa_wSmoke.png?v=1659137196&amp;width=640&amp;height=800&amp;crop=center 320w" decoding="async">
            <div class="items-center px-2 h-full pb-20 relative">
              <p class="w-full overflow-hidden inline-grid text-lg text-white mt-2 font-medium">Ooh La La - HHC Hemp Smokes</p>
              <p class="w-full overflow-hidden inline-grid font-serif text-sm text-cookies-subtle">Flower</p>
            </div>
          </div>
        </a>
        <div class="absolute left-0 right-0 bottom-2 grid grid-cols-4 px-2 pt-4">
          <div class="flex flex-wrap col-span-3">
            <div class="w-full z-20 card-review">
              <div data-oke-star-rating="" data-oke-reviews-product-id="shopify-7778569945315" data-oke-rendered="">
                <div data-oke-reviews-version="0.59.4" data-oke-container="" class="okeReviews oke-sr">
                  <div tabindex="0" role="button" class="oke-is-clickable">
                    <div class="oke-sr-rating"> 5.0 </div>
                    <div class="oke-sr-stars">
                      <div class="oke-stars">
                        <!---->
                        <div class="oke-stars-background">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-empty"></use>
                            <use x="16.155555555555555" href="#oke-star-empty"></use>
                            <use x="32.31111111111111" href="#oke-star-empty"></use>
                            <use x="48.46666666666667" href="#oke-star-empty"></use>
                            <use x="64.62222222222222" href="#oke-star-empty"></use>
                          </svg>
                        </div>
                        <div class="oke-stars-foreground" style="width: 100%;">
                          <svg height="18" viewBox="0 0 79.22222222222221 14" aria-hidden="true">
                            <use x="0" href="#oke-star-filled"></use>
                            <use x="16.155555555555555" href="#oke-star-filled"></use>
                            <use x="32.31111111111111" href="#oke-star-filled"></use>
                            <use x="48.46666666666667" href="#oke-star-filled"></use>
                            <use x="64.62222222222222" href="#oke-star-filled"></use>
                          </svg>
                        </div>
                        <span class="oke-a11yText">Rated 5.0 stars</span>
                      </div>
                    </div>
                    <div class="oke-sr-count">
                      <span class="oke-sr-count-number">4</span>
                      <span class="oke-sr-label-text"> Reviews</span>
                      <!---->
                    </div>
                    <span class="oke-a11yText">Click to scroll to reviews</span>
                  </div>
                  <script type="application/json" data-oke-metafield-data="">
                    {
                      "averageRating": "5.0",
                      "reviewCount": 4
                    }
                  </script>
                </div>
              </div>
            </div>
            <div>
              <div class="w-full flex gap-2 !p-sm">
                <div>$22.99</div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-end col-span-1">
            <button class="w-6 h-6 text-[24px] font-medium flex justify-center items-center rounded-full bg-skin-primary text-black">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm192 472c0 4.4-3.6 8-8 8H544v152c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"></path>
              </svg>
            </button>
            <p style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" role="alert" aria-live="assertive"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collections",
      "label": "Featured Products"      
    }
  ],  
  "presets": [
      {
        "name": "Featured Collection"
      }
    ]    
}
{% endschema %}
