@import url('https://use.typekit.net/uev5wov.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Image Zoom Styles */
[data-rmiz] {
  position: relative;
}
[data-rmiz-ghost] {
  position: absolute;
  pointer-events: none;
}
[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  inset: 10px 10px auto auto;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[data-rmiz-btn-zoom]:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  width: 1px;
}
[data-rmiz-btn-zoom] {
  position: absolute;
  cursor: zoom-in;
}
[data-rmiz-btn-unzoom] {
  position: absolute;
  cursor: zoom-out;
  z-index: 1;
  pointer-events: all;
}
[data-rmiz-content='found'] img,
[data-rmiz-content='found'] svg,
[data-rmiz-content='found'] [role='img'],
[data-rmiz-content='found'] [data-zoom] {
  cursor: zoom-in;
}
[data-rmiz-modal] {
  pointer-events: none;
}
[data-rmiz-modal]::backdrop {
  display: none;
}
[data-rmiz-modal][open] {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  max-height: none;
  padding: 0;
  border: 0;
  background: transparent;
}
[data-rmiz-modal-overlay] {
  position: absolute;
  inset: 0;
  pointer-events: all;
  transition: background-color 0.3s;
}
[data-rmiz-modal-overlay='hidden'] {
  background-color: rgba(255, 255, 255, 0);
}
[data-rmiz-modal-overlay='visible'] {
  background-color: rgba(255, 255, 255, 1);
}
[data-rmiz-modal][open] [data-rmiz-modal-content] {
  position: relative;
}

[data-rmiz-modal-img] {
  position: absolute;
  cursor: zoom-out;
  image-rendering: high-quality;
  pointer-events: all;
  transform-origin: top left;
  transition: transform 0.3s;
  will-change: transform;
}

[data-rmiz-modal-content] > [data-rmiz-modal-img] {
  width: 100vw !important;
  height: unset !important;
  aspect-ratio: 1 / 1;
  /*@apply aspect-square;*/
}

:root {
  --oke-text-primaryColor: #fff !important;
  --oke-text-secondaryColor: #dfdbdb !important;
  /* --oke-shadingColor: rgb(33, 33, 33) !important; */
  --oke-shadingColor: #111111 !important;
  --oke-border-color: #3c3c3c !important;
  --oke-highlightColor: rgb(0, 160, 220) !important;
  --oke-button-backgroundColor: #dfdfdf !important;
}

/* Tokens */
@layer base {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
    --color-gray-accent: 119, 119, 119;
    --color-skin-primary: 0, 160, 220;
    --color-blue-alt: 0, 163, 255;
    --color-tangerine: 243, 142, 0;
    --color-red: 220, 38, 38;
    --color-red-secondary: 253, 84, 115;
    --color-cerulean: 0, 149, 231;
    --color-salmon: 255, 123, 123;
    --color-tree: 111, 180, 142;
    --color-yellow: 243, 184, 31;
    --color-yellow-two: 249, 143, 20;
    --color-yellow-three: 0, 160, 220;
    --color-dark: 17, 17, 17;
    --color-dark-soft: 51, 51, 51;
    --color-carnation: 243, 92, 92;
    --color-text-base: 0, 0, 0;
    --color-text-inverted: 255, 255, 255;
    --color-text-muted: 89, 89, 89;
    --color-text-secondary: 11, 70, 53;
    --color-text-countdown: 20, 113, 95;
    --color-fill: 255, 255, 255;
    --color-fill-thumbnail: 243, 246, 250;
    --color-fill-one: 241, 246, 249;
    --color-fill-two: 243, 246, 249;
    --color-fill-three: 242, 242, 242;
    --color-fill-four: 232, 235, 240;
    --color-fill-secondary: 33, 33, 33;
    --color-fill-dropdown-hover: 246, 249, 252;
    --color-border-primary: 2, 178, 144;
    --color-border-base: 231, 236, 240;
    --color-border-one: 227, 232, 236;
    --color-border-two: 226, 232, 240;
    --color-border-three: 230, 230, 230;
    --color-border-four: 222, 229, 234;
    --color-button-secondary: 243, 245, 249;
    --color-button-disable: 51, 51, 51;
    --color-button-hover: 229, 234, 241;
    --color-highlighted: 237, 197, 55;
    --box-shadow-card: '0px 0px 6px rgba(79, 95, 120, 0.1)';
    --box-shadow-card-hover: '0px 0px 6px rgba(79, 95, 120, 0.2)';
    --box-shadow-counter: '0px 4px 20px rgba(79, 95, 120, 0.15)';
    --font-body-family: 'Barlow,sans-serif';

    @supports (height: 100lvh) {
      --screen-height: 100lvh;
    }
  }
}

@media (min-width: 32em) {
  :root {
    --height-nav: 4rem;
  }
}

@media (min-width: 48em) {
  :root {
    --height-nav: 6rem;
    --font-size-heading: 1.75rem; /* text-4xl */
    --font-size-display: 2.75rem; /* text-6xl */
  }
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply antialiased text-white bg-skin-dark;
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.text-heading {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.text-heading2 {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.footer {
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.footer p {
  margin: 0;
}
.footer #footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer #footer-container #widget-about {
  width: 100%;
  padding-top: 39px;
}
.footer #footer-container #widget-about p {
  font-weight: 400;
}
.footer #footer-container #widget-about .text-lg {
  font-weight: 700;
}
.footer #footer-container #middle-widgets #middle-widgets__inner {
  display: flex;
  flex-wrap: wrap;
}
.footer #footer-container #middle-widgets #middle-widgets__inner .widget-link {
  min-width: 50%;
  padding-top: 32px;
  padding-right: 24px;
}
.footer #footer-container #right-widgets #right-widgets__inner {
  display: flex;
  flex-wrap: wrap;
}
.footer #footer-container #right-widgets #right-widgets__inner .widget-link {
  min-width: 50%;
  padding-top: 32px;
  padding-right: 24px;
}
.footer #footer-container #widget-subscription {
  margin-top: 25px;
}
.footer #footer-container #widget-subscription__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.footer #footer-container #widget-subscription__form > div {
  width: 100%;
}
.footer #footer-container #widget-subscription__form #subscription-email {
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: white;
}
.footer #footer-container #widget-subscription__form button {
  height: 50px;
  font-size: 18px;
  min-width: 125px;
  font-weight: 500;
  margin-top: 14px;
  line-height: 18px;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer #footer-container #widget-subscription__form button:hover {
  background-color: black;
  color: white;
}

.footer #footer-container #widget-social-media p {
  margin-bottom: 5px;
}
.footer #footer-container #widget-social-media ul {
  display: flex;
  align-items: center;
}
.footer #footer-container #widget-social-media ul img {
  width: 24px;
  margin-right: 10px;
}

#copyright-bar {
  display: flex;
  color: white;
  padding: 12px 25px;
  font-weight: 400;
  align-items: center;
}
@media (min-width: 768px) {
  footer {
    font-size: 10px;
    font-weight: 600;
  }
  footer #footer-container {
    flex-direction: row;
  }
  footer #footer-container #widget-about {
    width: 245px;
    padding-right: 44px;
  }

  footer #footer-container #middle-widgets #middle-widgets__inner {
    flex-wrap: unset;
    justify-content: space-between;
    max-width: 482px;
  }
  footer #footer-container #middle-widgets #middle-widgets__inner .widget-link {
    min-width: unset;
    padding-top: 0px;
    padding-right: 30px;
  }

  footer #footer-container #right-widgets #right-widgets__inner {
    flex-wrap: unset;
    justify-content: space-between;
  }
  footer #footer-container #right-widgets #right-widgets__inner .widget-link {
    min-width: unset;
    padding-top: 0px;
    padding-right: 30px;
  }
  footer #footer-container #widget-subscription {
    padding-bottom: 54px;
  }
  footer #footer-container #widget-subscription__form {
    padding-bottom: 54px;
    margin-left: -10px;
  }
  footer #footer-container #widget-subscription__form > div {
    max-width: 325px;
    width: calc(100% - 101px);
  }
  footer #footer-container #widget-subscription__form #subscription-email {
    height: 34px;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 17px;
  }
  footer #footer-container #widget-subscription__form button {
    height: 34px;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 17px;
    min-width: 96px;
    margin-left: 5px;
  }
  #copyright-bar {
    font-size: 12px;
  }
  #copyright-bar > div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .onlyMobile {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  #footer-container #widget-subscription p {
    font-size: 18px;
    margin-left: 16px;
  }
}
